<main id="content" role="main">
    <div class="grid-row">
        <div class="column-two-thirds">
            <div class="govuk-box-highlight" style="padding: 2em 1em; background: #dee0e2; color: black;">
                <h1 class="bold-large">Sorry, this service is<br />currently unavailable</h1>
            </div>
            <p>This service is undergoing essential maintenance. This is only likely to take a few hours. We apologise for the inconvenience this may cause.</p>
            <p>To keep this service secure, none of the information you have entered has been saved.</p>
            <p>Please try again later.</p>
            <p><a href="https://www.gov.uk/" class="button" role="button">Return to GOV.UK</a></p>
        </div>
    </div>
</main>
